.auth {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth__top {
  text-align: center;
  margin-bottom: 50px;
}

.auth__top h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.auth__top p {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1px;
  opacity: 0.5;
}

.auth__register-link {
  display: block;
  font-size: 16px;
  letter-spacing: 0.114286px;
  color: #ADADAD;
  text-align: center;
}

.auth__success-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 400px;
}

.auth__success-block svg {
  width: 48px;
  height: 48px;
}

.auth__success-block h2 {
  color: #202002;
  font-size: 22px;
  margin-top: 10px;
}

.auth__success-block p {
  color: #202002;
  font-size: 14px;
}

.auth .button {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  width: 100%;
}

.auth .block {
  width: 430px;
}
